.form > input{
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #eff8f9;
    color: white;
    background-color: transparent;
}

.form > input:hover, .form > input:focus{
    cursor: pointer;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.form > input:disabled{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.form  button{
    align-self: flex-end;
    justify-self: flex-end;
    width: 8rem;
    padding: 0.5rem;
}




